*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    flex-direction: column;
}
.body{
    height: 100vh;
}
.head{
    background-color: #1e293b;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0  1rem 0 1rem;
    font-size: larger;
    font-weight: 2rem;
    box-sizing: border-box;
    top: 0;
}
.content{
    background-color: orange;
    display: flex;
    flex: 1;
    background-color: #0f172a;
    padding: 1rem;
}
.users{
    background-color: pink;
    height: 100%;
}
.settings{
    background-color: yellow;
}
.reports{
    background-color: orange;

}
.slide-bar{
    background-color: #1e293b;
    height: 100%;
    width: 15rem;
    color: white;
    display: flex;
    padding: 1rem;
    font-weight: 700;
    font-size: larger;

    
}
.below{
    display: flex;
    top: 60px;
    height: 100%;
}

