*{
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
    justify-content: center;
}
form{
    border: 2px black solid;
    padding: 20px;

}
div{
    margin-top: 15px;
}
#btn{
    display: flex;
    justify-content: space-between;
}
input{
    width: 100%;
}
#depo{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding:3px 5px 3px 5px;
    border-radius: 4px;
}
#with{
    background-color: red;
    color: white;
    font-size: 15px;
    padding:3px 5px 3px 5px;
    border-radius: 4px;
}
